<%= bootstrap_form_for [@question, @answer], remote: true, :url => topic_question_answers_path, :html => {:id => 'choices-form'} do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" style="display: none">
    <%= f.text_field :value %>
  </div>

  <% @question.choices.each do |choice| %>
      <div class="col-md-4">
        <%= f.submit choice.title, class: 'btn btn-primary btn-fill btn-wd btn-block' %>
      </div>
  <% end %>

<% end %>
